<!--<ng-demos-nx-welcome></ng-demos-nx-welcome>-->
<div class="mt-8 flex gap-x-4 sm:justify-center">
  <button
    class="inline-block rounded-lg  px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm bg-primary-600 ring-1 ring-primary hover:bg-primary-700 hover:ring-primary-700"
  >
    Get started
  </button>
  <button
    class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 bg-accent-200   hover:ring-accent-300 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
  >
    Live demo
  </button>
</div>
